@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) {
    .header-divider {
        width: 480px;
    }

    .header-shadow {
        width: 480px;
    }

    .nav {
        width: 480px;
    }
}